<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.messiah.questjournal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/short_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CharacterActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.messiah.questjournal.CharacterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CharacterTabActivity" />
        <activity android:name=".QuestTab.QuestTabActivity" />
        <activity android:name=".ShopTabActivity" />
        <activity android:name=".AchievementTabActivity" />
        <activity android:name=".SettingTabActivity" />
        <activity android:name=".QuestTab.QuestTabCreateTab" />
        <activity android:name=".QuestTab.QuestTabViewTab"></activity>
        <activity android:name=".QuestTab.QuestTabOldTab"></activity>
    </application>

</manifest>
